


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;700&display=swap');
  

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Archivo+Narrow:wght@400;500;600&display=swap');

body{
    background-color:#FDF3F5;
    margin:0px;
    height: 100%;
}

.header{
    display:flex;
    justify-content: space-between;
}

.logo-nav{
    color:#E70D0D;
    font-style: initial;
    font-family:oswald;
    font-size:2em;
    margin-top:0;
    margin-left:3%;
}



.menu-nav{
    display:flex;
    flex-direction: row;
    

}

.menu-li{
    margin-right: 25px;
    list-style: none;
    
    
}

.menu-li a{
    text-decoration: none;
    color:#FF66A6;
    font-family: sans-serif;
    font-size:20px;
    
}

.slide{
    background-color: #FFC1CC;
    display:flex;
    justify-content: space-between;
    height: 370px;
    align-items: center;
}

.logo-slide{
    max-width: 200px;
    max-height: 200px;
    padding-left:60px;
    
}

.img-donas-slide{
    max-height: 300px;
}

.texto-slide{
    max-width:350px;
    color:white;
    font-family: oswald;
    font-weight: lighter;
    letter-spacing: 0.25px;
    font-size:18px;
}


h1{
    color:#E70D0D;
    font-family: oswald;
    font-size:25px;
    display: flex;
    justify-content: center;
}

#contenedor-historia{
   text-align: center;
}


.historia{
    display:flex;
    justify-content: space-around;
    align-items: center;
    max-width: 50vw;
    transform: translate(50%);
    
    
}

.parrafo-index{
    color:#797979;
    font-family:alata;
    font-size:15px;
    text-align: justify;
    max-width: 60%;
    
}

.donas-descripcion-index{
    max-width: 30%;

}

.favoritas{
    display:flex;
    justify-content: center;
    
}

.img-favorita{
    margin-right:10px;
}

.organic-shape{
    width: 250px;
    height: 250px;
    background: radial-gradient(circle at 50% 100%, #F7BFC9, #ED6D8C);
    border-radius: 60% 40% 40% 70% / 60% 40% 70% 40%;
    position: absolute;
    top: 60%;
    left: -6%;
    opacity: 15%;
    z-index: -1;
}

.organic-shape2 {
    width: 320px;
    height: 530px;
    background: radial-gradient(circle at 50% 100%, #F7BFC9, #ED6D8C);
    border-radius: 60% 40% 40% 70% / 60% 40% 70% 40%;
    position: absolute;
    top: 16%;
    left: 87%;
    opacity: 20%;
    z-index:-1;
}

#footer{
    background-color:#FFA1C9;
    height:9%;
    bottom: 0;
    margin-top:2%
    
}

.icons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1%;
    padding-top: 5px;
    
}

.icons-rrss{
    max-width: 4%;
}


.linea-footer{
color:white;
border:solid 1px;
width:70vw;

}


.info-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:15px;
    font-family: alata;
    padding-bottom: 5px;
    
}


.info-footer p{
    margin:2px;
}
/**MOBILE **/

@media only screen and (max-width: 450px) {

    .nav{
        display:none;
    }

    .slide{
        background-color: #FFC1CC;
        display:flex;
        justify-content: center;
        height: 370px;
        min-width: 390px;
        align-items: center;
        flex-direction: column;
    
  }

  .logo-slide{
    max-width: 200px;
    max-height: 200px;
    padding-left:0px;
    padding-top:5%;
    
}

.img-donas-slide{
    max-height: 280px;
    display:flex;
    justify-content: center;
    max-width: 350px;
}

.texto-slide{
   display:none;
}

}



/**
@media only screen and (max-width: 450px) {
    .logo-nav{
        font-size:1em;
        margin:0;
    }
    .menu-li a{
       font-size:1em;
    }
  }

  **/