@import 'comun';

.slide{
    background-color: #FFC1CC;
    display:flex;
    justify-content: space-between;
    height: 370px;
    align-items: center;

    &__logo{
        max-width: 200px;
        max-height: 200px;
        padding-left:60px;    
    }
    

    &__texto{
        max-width:350px;
        color:white;
        font-family: oswald;
        font-weight: lighter;
        letter-spacing: 0.25px;
        font-size:18px;
    }

    &__img{
        max-height: 260px;
    }
    
}





.historiaContenedor{
   text-align: center;

   

article {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 50vw;
    transform: translate(50%);   

     p{
        color:#797979;
        font-family:alata;
        font-size:15px;
        text-align: justify;
        max-width: 60%;    
    }
}


}

.historiaContenedor__img{
    max-width: 30%;
}




.carruselContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    
    &__carrusel{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color:white;
        max-width:75%;
        gap:10px;
        padding:1%;

        article{
            display:flex;
            flex-direction: column;
            align-items: center;
            
            .carruselContainer__carrusel--img{
                max-width: 170px;
            }
        
            .carruselContainer__carrusel--vermas{
                background-color:#FF66A6;
                border-radius: 22px;
                border: none !important;
                color:#FFF;
            }

        }
        
    }
    
    
}

.favoritas{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;

    .favoritas__group{
        flex: 1 0 20%;
        box-sizing: border-box;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            max-width:60%
        }

        &--img{
            margin-right:10px;
            min-width: 25%;
            margin-top:10px;
        }
        
    }
}



/**-------------------------MEDIA QUERIES----1024PX------------**/

@media only screen and (max-width: 1024px) {

    .slide{
        &__img {
            max-height: 200px;
            
        }

        &__texto {
            font-size: 14px;

    }

    &__logo {
        max-width: 170px; 
    
       }

    } 

.historiaContenedor article {
    max-width: 75vw;
    transform: translate(25%);

   .historiaContenedor__img {
    max-width: 40%;
}
  }

  .favoritas__group--img {
    margin-right: 0px;   
  }

}

/**MEDIA QUERIES GENERALES TABLET 768px**/
@media only screen and (max-width: 768px) {

 .favoritas{
        display:flex;
        justify-content: center; 
        flex-direction: column;
        align-items: center;
        text-align: center;
        
 }
 
 
 .favoritas__group--img{
     margin-right:0px;
     object-fit: cover;
     max-width: 80%;
 }
 
 
 
 .slide{
     flex-direction:column;
     height:auto;

     &__img {
        max-height: 170px;
    }

     &__logo {
        max-width: 170px;
        padding-left: 0;
        padding-top: 10px;
    }
    
    &__texto {
        text-align:center;
    }
  }
 
 }

     /**MEDIA QUERIES  480px**/
@media only screen and (max-width: 480px) {

    .historiaContenedor__img {
        max-width: 100%;
    }
   
    .historiaContenedor article {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    transform: translate(20%);

     p {
        max-width: 100%;

    }

    }

    .slide__img {
        max-height: 140px;
    }


}