@import 'comun';

/**-------------------lugares----------------**/

.tiendasContenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center; 

    .tiendasContenedor__locales{
        flex: 1 0 30%;
        box-sizing: border-box;
        font-family: alata;
        color:#797979;
        margin:15px;

        p{
            padding-left: 13%;
            padding-right: 13%;
            height:100%;
        }
    }
}
    

    
   .tiendasContenedor{

    &__locales{

        &--nombre{
            color:$colorTitulo;
            font-family:archivo narrow;
            margin:3px;
            font-size: 20px;
        }
    
        &--foto{
            max-width: 100%;
            height: auto;
        }
        
        &--estrellas{
            max-width: 100%;
            display:inline-block;
             
        }
    }
    
   }
    


        /**MEDIA QUERIES GENERALES MOBILE 480px**/
@media only screen and (max-width: 480px) {


    .tiendasContenedor{

        &__locales{
            flex: 1 0 100%;
            box-sizing: border-box;
            font-family: alata;
            color:#797979;
            margin:15px;
            p {
                padding-left: 4%;
                padding-right: 4%;
                height: 100%;
                font-size:14px;     
            }


        &--estrellas{
            display:flex;  
            justify-content: center;  

            
        img{
         max-width: 15%;   
          }
        }  
        }
    }

    .tiendasContenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        text-align: center; 
    }
    

}